* {
    background: #cac4ce;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #242034;
}

img {
    max-width: 75%;
    max-height: 75%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container-one {
    height: 200px;
    width: 200px;
}

h1 {
    color: blueviolet;
    text-align: center;
}

a {
    color: blueviolet;
}

p {
    text-align: center;
}

.container-two {
    text-align: center;
    display: block;
    margin-top: 4rem;
}

.container-one {
    text-align: center;
}

